<section class="asm-pre-head">
    <div class="asm-pre-head-row">
        <div class="asm-pre-head-phone">
            <a href="tel:8328340661" aria-label="Main Office (832)834-0661"><img src="{{ phone.src }}" fetchpriority="high" alt="{{ phone.alt }}" width="11" height="11"/> Main Office (832)834-0661</a>
            <a href="tel:7137375529" aria-label="Sales (713)737-5529"><img src="{{ phone.src }}" fetchpriority="high" alt="{{ phone.alt }}" width="11" height="11"/> Sales (713)737-5529</a>
        </div>
        <div class="asm-pre-head-right">
            <nav class="asm-pre-head-nav">
                <ul>
                    {% for item in pre_header_menu.items %}
                        <li class="{{ item.classes | join(' ') }}">
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="asm-pre-head-social">
                <ul>
                    <li><a href="{{ facebook_url }}" class="asm-pre-head-social-facebook" aria-label="Facebook"><img src="{{ facebook.src }}" fetchpriority="high" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="{{ pinterest_url }}" class="asm-pre-head-social-pinterest" aria-label="Pinterest"><img src="{{ pinterest.src }}" fetchpriority="high" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="{{ instagram_url }}" class="asm-pre-head-social-instagram" aria-label="Instagram"><img src="{{ instagram.src }}" fetchpriority="high" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="{{ youtube_url }}" class="asm-pre-head-social-youtube" aria-label="YouTube"><img src="{{ youtube.src }}" fetchpriority="high" alt="{{ youtube.alt }}" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<header class="asm-head">
    <div class="asm-head-logo">
        <a href="{{ site.link|e('esc_url') }}">
            <img width="96" height="49" src="{{ logo.src }}" fetchpriority="high" alt="{{ logo.alt }}" />
        </a>
    </div>
    <div class="asm-container">
        <nav class="asm-head-nav">
            <ul>
                {% for item in menu.items %}
                    <li class="{{ item.classes | join(' ') }}">
                        <a href="{{ item.link }}">{{ item.title }}{% if item.children %}<div class="asm-head-nav-down-arrow"><img src="{{ down_arrow.src }}" fetchpriority="high" alt="{{ down_arrow.alt }}" /></div>{% endif %}</a>
                        {% if item.children %}
                            <div class="asm-head-nav-sub">
                                <ul>
                                    {% for subitem in item.children %}
                                        <li class="{{ subitem.classes | join(' ') }}">
                                            <a href="{{ subitem.link }}">{{ subitem.title }}{% if subitem.children %}<div class="asm-head-nav-right-arrow"><img src="{{ right_arrow.src }}" fetchpriority="high" alt="{{ right_arrow.alt }}" /></div>{% endif %}</a>
                                                {% if subitem.children %}
                                                    <div class="asm-head-nav-sub-sub">
                                                        <ul>
                                                            {% for subsubitem in subitem.children %}
                                                                <li class="{{ subsubitem.classes | join(' ') }}">
                                                                    <a href="{{ subsubitem.link }}">{{ subsubitem.title }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="asm-head-bbb">
        <a target="_blank" href="https://www.bbb.org/us/tx/houston/profile/internet-marketing-services/actual-seo-media-inc-0915-90045053" rel="nofollow">
            <img width="91" height="34" src="{{ bbb.src }}" fetchpriority="high" alt="{{ bbb.alt }}" />
        </a>
    </div>
</header>