<section class="asm-pre-footer">
    <div class="asm-container">
        <div class="asm-pre-footer-list">
            <div class="asm-pre-footer-col">
                <h5>Houston Location</h5>
                <p>12922 Briarwest Cir<br> Houston, TX 77077<br>Phone <a href="tel:7137375529">(713) 737-5529</a></p>
                <p><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>
                <ul>
                    <li><a href="https://x.com/actualseomedia" aria-label="X" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/actualseohouston/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://www.pinterest.com/jaminmootz/" aria-label="Pinterest" target="_blank"><img class="lazyload" data-src="{{ pinterest.src }}" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media/" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomedia/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p>Houston, TX <br>Harris County, TX<br><a href="{{ site.link|e('esc_url') }}/our-locations/houston-main-office/">Houston, TX 77077</a></p>
            </div>
            <div class="asm-pre-footer-col">    
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/sugar-land/">Sugar Land Location</a></h5>
                <p>19901 Southwest Fwy #310<br> Sugar Land, TX 77479<br>Phone <a href="tel:2819626166"> (281) 962-6166</a><br><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>                                    
                <ul>
                    <li><a href="https://x.com/ActualSeoMedia3" aria-label="Twitter" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/Sugarlandseocompany/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://pinterest.com/SugarLandTXSEOExperts/" aria-label="Pinterest" target="_blank"><img class="lazyload" data-src="{{ pinterest.src }}" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media-inc-sugar-land-texas" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomediasugarland/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p><a href="{{ site.link|e('esc_url') }}/our-locations/sugar-land/">Sugar Land, TX</a><br>Fort Bend County, TX<br>Katy, TX 77479</p>
            </div>
            <div class="asm-pre-footer-col">                          
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/katy/">Katy Location</a></h5>
                <p>24044 Cinco Village Center Blvd #100<br> Katy, TX 77494<br>Phone <a href="tel:(281)962-7777">(281) 962-7777</a><br>Sales <a href="tel:7137375529"> (713) 737-5529</a><br><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>                                
                <ul>
                    <li><a href="https://x.com/ActualSeoMedia2" aria-label="Twitter" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/SEOKatyTexas/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media-inc-katy-texas/" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomediakaty/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p>Fort Bend County, TX<br><a role="link" href="{{ site.link|e('esc_url') }}/our-locations/katy/">Katy, TX</a><br>Katy, TX 77494</p>
            </div>
            <div class="asm-pre-footer-col">                          
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/houston-main-office/">Houston Main Office</a></h5>
                <p>1880 S Dairy Ashford Rd Suite 682<br>Houston, TX 77077<br>Phone <a href="tel:8328340661"> (832) 834-0661</a><br>Sales <a href="tel:7137375529"> (713) 737-5529</a><br><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>
                <ul>
                    <li><a href="https://x.com/actualseomedia1" aria-label="X" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/actualseohoustontx/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://www.pinterest.com/jaminmootz/" aria-label="Pinterest" target="_blank"><img class="lazyload" data-src="{{ pinterest.src }}" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media-inc-houston-tx/" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomedia2/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p>Houston, TX<br>Harris County, TX<br><a href="{{ site.link|e('esc_url') }}/our-locations/houston-main-office/">Houston, TX 77077</a></p>
            </div>
            <div class="asm-pre-footer-col">
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/williams-tower/">Williams Tower Location</a></h5>
                <p>2800 Post Oak Blvd Suite 4100<br> Houston, TX 77056<br>Phone <a href="tel:8323902407">(832) 390-2407</a><br><a role="link" href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>
                <ul>
                    <li><a href="https://x.com/IncActual" aria-label="Twitter" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/actualseomediawilliamstower/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://pinterest.com/actualseomediagalleria/" aria-label="Pinterest" target="_blank"><img class="lazyload" data-src="{{ pinterest.src }}" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomediawilliams/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p>Houston, TX <br>Harris County, TX <br><a role="link" href="{{ site.link|e('esc_url') }}/our-locations/williams-tower/">Houston, TX 77056</a></p>
            </div>
            <div class="asm-pre-footer-col">
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/the-woodlands-location/">The Woodlands Location</a></h5>
                <p>10210 Grogans Mill Rd Suite 230 <br>Phone <a href="tel:7132017666">(713) 201-7666</a><br>Sales <a href="tel:7137375529">(713) 737-5529</a><br><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>
                <ul class="social-icon-one social-icon-one--footer">
                    <li><a href="https://x.com/actual_seo" aria-label="Twitter" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/Actualseomedia.thewoodlands/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://www.pinterest.com/actualseomedia/" aria-label="Pinterest" target="_blank"><img class="lazyload" data-src="{{ pinterest.src }}" alt="{{ pinterest.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media-inc-the-woodlands-texas/" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomedia_thewoodlands/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p><a href="{{ site.link|e('esc_url') }}/our-locations/the-woodlands-location/">The Woodlands, TX</a></p>
            </div>
            <div class="asm-pre-footer-col">
                <h5><a href="{{ site.link|e('esc_url') }}/our-locations/tomball-parkway/">The Tomball Location</a></h5>
                <p>16310 Tomball Parkway, #1303<br>Houston, TX 77064<br>Phone <a href="tel:3469469494">(346) 946-9494</a><br><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></p>
                <ul>
                    <li><a href="https://x.com/actualseomedia4" aria-label="Twitter" target="_blank"><img class="lazyload" data-src="{{ twitter.src }}" alt="{{ twitter.alt }}" /></a></li>
                    <li><a href="https://www.facebook.com/actualseomediatomball/" aria-label="Facebook" target="_blank"><img class="lazyload" data-src="{{ facebook.src }}" alt="{{ facebook.alt }}" /></a></li>
                    <li><a href="https://www.instagram.com/actualseomediatb/" aria-label="Instagram" target="_blank"><img class="lazyload" data-src="{{ instagram.src }}" alt="{{ instagram.alt }}" /></a></li>
                    <li><a href="https://www.linkedin.com/company/actual-seo-media-inc-sugar-land-texas/" aria-label="LinkedIn" target="_blank"><img class="lazyload" data-src="{{ linkedin.src }}" alt="{{ linkedin.alt }}" /></a></li>
                    <li><a href="https://www.youtube.com/@Actualseomedia-SEO-Houston/" aria-label="YouTube" target="_blank"><img class="lazyload" data-src="{{ youtube.src }}" alt="{{ youtube.alt }}" /></a></li>
                </ul>
                <h5>Service Areas</h5>
                <p>Tomball Parkway, TX</p>
            </div>
            <div class="asm-pre-footer-col">
                <div class="asm-pre-footer-table">
                    <div><strong>Day</strong></div>
                    <div><strong>Hours</strong></div>
                    <div>Sunday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Monday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Tuesday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Wednesday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Thursday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Friday</div>
                    <div>8:00 AM - 8:00 PM</div>
                    <div>Saturday</div>
                    <div>8:00 AM - 8:00 PM</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="asm-footer-cta">
    <div class="asm-container">
        <div class="asm-footer-cta-row">
            <div class="asm-footer-cta-col">
                <img class="lazyload" data-src="{{ phone.src }}" alt="{{ phone.alt }}" width="18" width="20"/>
                <span>Review</span>
                <a href="https://www.google.com/search?hl=en-US&amp;gl=us&amp;q=Actual+SEO+Media,+Inc.,+1880+S+Dairy+Ashford+Rd+Suite+682,+Houston,+TX+77077&amp;ludocid=10291258604779469563&amp;lsig=AB86z5Wnaf5pP0OjouG7GUYrbyhU#lrd=0x8640dd7f446b91bd:0x8ed1e52cf58ffafb,1" target="_blank" aria-label="Check Out Our Reviews on Google">Check Out Our Reviews on Google</a>
            </div>
            <div class="asm-footer-cta-col-divider"></div>
            <div class="asm-footer-cta-col">
                <img class="lazyload" data-src="{{ mail.src }}" alt="{{ mail.alt }}" width="20" width="20"/>
                <span>Review</span>
                <a href="https://www.google.com/search?hl=en-US&amp;gl=us&amp;q=Actual+SEO+Media,+Inc.,+1880+S+Dairy+Ashford+Rd+Suite+682,+Houston,+TX+77077&amp;ludocid=10291258604779469563&amp;lsig=AB86z5Wnaf5pP0OjouG7GUYrbyhU#lrd=0x8640dd7f446b91bd:0x8ed1e52cf58ffafb,3" target="_blank" aria-label="Leave Your Review on Google">Leave Your Review on Google</a>
            </div>
            <div class="asm-footer-cta-col-divider"></div>
            <div class="asm-footer-cta-col">
                <img class="lazyload" data-src="{{ address.src }}" alt="{{ address.alt }}" width="15" width="20"/>
                <span>Addres</span>
                <a href="https://www.google.com/maps?cid=10291258604779469563" target="_blank" aria-label="View Location on Google Maps"> View Location on Google Maps</a>
            </div>
        </div>
    </div>
</section>
<footer class="asm-footer">
    <div class="asm-container">
        <div class="asm-footer-row">
            <div class="asm-footer-col">
                <h3>Explore</h3>
                <nav>
                    <ul>
                        {% for item in menu_1.items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="asm-footer-col">
                <h3><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></h3>
                <nav>
                    <ul>
                        {% for item in menu_2.items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="asm-footer-col">
                <h3><a href="mailto:info@actualseomedia.com">info@actualseomedia.com</a></h3>
                <nav>
                    <ul>
                        {% for item in menu_3.items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="asm-footer-rating">
            <img class="lazyload" data-src="{{ bbb.src }}" alt="{{ bbb.alt }}" width="150" width="53"/>
            <p>BBB Rating: A+<br>As of 10/2/2024<br/><a href="https://www.bbb.org/us/tx/houston/profile/internet-marketing-services/actual-seo-media-inc-0915-90045053" style="text-decoration:none;color:white;">Click for Profile</a></p>
        </div>
        <div class="asm-footer-copyright">
            &copy;Copyright {{ "now"|date("Y") }} by Actual SEO Media Inc.
        </div>
    </div>
</footer>